<!doctype html>
<html lang="en">

<head>
  <title>{{site.title}}</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.url}}/css/post.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




</head>


<body>

    <!-- <nav class="navbar fixed-top">
        <a class="navbar-brand" href="#">
            <img class="logo-purple img-fluid" src="../../../../assets/img/logo-purple.png" alt="logo">
        </a>
        <div class="navigation ml-auto">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
    
            <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
            </label>
    
            <div class="navigation__background">&nbsp;</div>
    
            <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item">
                <a href="#architecture" class="navigation__link">What Are We Doing</a>
                </li>
                <li class="navigation__item">
                <a href="#" class="navigation__link">How Do We Do That</a>
                </li>
                <li class="navigation__item">
                <a href="#" class="navigation__link">Contact Us</a>
                </li>
                <li class="navigation__item">
                <a href="#" class="navigation__link">Blog</a>
                </li>
            </ul>
            </nav>
        </div>
    </nav> -->
    <div class="container">
        <div class="post-title">
            <h1>{{page.title}}</h1>
        </div>
        <div class="">
            <!-- <div class="slide center-text col">
                <h1>{{page.firstTitle}}</h1>
                <p>{{page.firstParagraph}}</p>
            </div>
            <div class="slide img-slide col">
                <img class="img-fluid" src="{{page.firstImage}}">
            </div>
            <div class="slide center-text col">
                <h1>{{page.secondTitle}}</h1>
                <p>{{page.secondParagraph}}</p>
            </div>
            <div class="slide img-slide col">
                <img class="img-fluid" src="{{page.secondImage}}">
            </div>
            <div class="slide center-text col">
                <h1>{{page.thirdTitle}}</h1>
                <p>{{page.thirdParagraph}}</p>
            </div>
            <div class="slide img-slide col">
                <img class="img-fluid" src="{{page.thirdImage}}">
            </div> -->
            <article class="slide center-text">
                {{content}}
            </article>
        </div>
    </div>
</body>

</html>